img {
  max-width: 45%;
  height: 100%;
  display: block;
}
.cat-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.ss-main {
  width: 15%;
  margin-bottom: 10px;
  flex-direction: row;
  padding: 10px;
}

.cat-details {
  display: flex;
  flex-direction: column;
}
.cat-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 80%;
  align-items: center;
}
.cat-name {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.cat-text {
  font-size: 15px;
}
.error,
.loader {
  display: none;
}
.error {
  color: red;
}
.loader {
  font-size: 16px;
  color: #000;
  display: inline-block;
  font-weight: 400;
  position: relative;
  padding: 20px;
  max-width: 15%;
}
.loader:after {
  content: 'Loading data, please wait...';

  position: relative;
  z-index: 5;
}
.loader:before {
  content: '';
  height: 6px;

  border: 1px solid;
  border-radius: 10px;
  width: 80%;
  position: absolute;
  bottom: 9px;
  background: linear-gradient(#000000 100%, transparent 0) no-repeat;
  background-size: 0% auto;
  animation: 1s lineGrow linear infinite;
}

@keyframes lineGrow {
  to {
    background-size: 100% auto;
  }
}
